@model Pokemon.Models.ApplicationUser
@using Microsoft.AspNet.Identity

<div>
    

</div>

<div style="text-align:center" class="row">

    <div class="col">

        <img style="height:300px" src="~/Assets/Images/001.png" />"
        <br />
        <a href=@Url.Action("BuyPack", "Packs", new { UserId = User.Identity.GetUserId(), PackValue = 3 })>Buy Leaf Pack</a>
    </div>

    <div class="col">

        <img style="height:300px" src="~/Assets/Images/004.png" />
        <br />
        <a href=@Url.Action("BuyPack","Packs",new {UserId=User.Identity.GetUserId() ,PackValue=5 })>Buy Fire Pack</a>
    </div>

    <div class="col">
        <img style="height:300px" src="~/Assets/Images/007.png" />
        <br />
        <a href=@Url.Action("BuyPack","Packs",new {UserId=User.Identity.GetUserId() ,PackValue=7 })>Buy Water Pack</a>
        
    </div>



</div>