<!-- Start Footer Area -->
<div class="rn-footer-one  bg-color--1 mt--100 mt_md--80 mt_sm--80 p-5" style="">
    <div class="container">
        <div class="row gx-2">
            <div class="col">
                <div class="widget-content-wrapper">
                    <div class="footer-left">

                        <small>© 2022 Elite Four, Inc.</small>
                        <br />
                        <small>© 2022 Pokémon.</small>
                        <br />
                        <small>©1995 - 2022 Nintendo/Creatures Inc./GAME FREAK inc.</small>
                        <br />
                        <small>© Nintendo., Inc.</small>

                    </div>
                    
                </div>
            </div>

            <div class="col text-center align-content-center">
                <div class="footer-widget widget-quick text-center " style="display:flex; align-items:center; padding-top:20px;" >
                    <ul class="footer-list-one list-unstyled list-inline  ">
                        <li class="list-inline-item"><a href="https://discord.com/twitter" target="_blank">Discord</a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/?lang=en" target="_blank">Twitter</a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/?hl=en" target="_blank">Instagram</a></li>
                        <li class="list-inline-item"><a href=@Url.Action("Index", "AboutUs")>About Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="footer-widget widget-quick text-center">
                    <ul class="footer-list-one list-unstyled list-inline">
                        <li class="list-inline-item"><a href="https://www.pokemon.com/gr/" target="_blank"><img src="~/Assets/Images/logo-pokemon-79x45.png" alt="Pokemon" /></a></li>
                        <li class="list-inline-item"><a href="https://ethereum.org/en/" target="_blank"><img style="width:70px; height:auto;" src="~/Assets/Images/Built on Ethereum.png" alt="Pokemon" /></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/?lang=en" target="_blank"><i data-feather="twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i data-feather="facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/?hl=en" target="_blank"><i data-feather="instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://outlook.live.com/owa/" target="_blank"><i data-feather="mail"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Area -->