<!DOCTYPE HTML>
<html>
<head>


</head>
<body>


    <table>
        <thead>
            <tr>
                <th>description</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody id="table">
        </tbody>
    </table>



    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        var settings = {
            "url": "https://localhost:44324//api/TotalSales",
            "method": "GET",
            "timeout": 0,
        };

        $.ajax(settings).done(function (response) {
            for (var result of response ){
                let template = `
                                   <tr>
                                           <td>${result.name}</td>
                                           <td>${result.result}</td>
                                   </tr>

                                        `
                let ele = $(template)
                $("#table").append(ele)


            

        }
            })
    </script>

</body>
</html>


